.cba-page-wrapper {
  position: inherit;
  margin-left: 100px;
  margin-right: 100px;
  /* padding: 0 300px; */
  border-left: 1px solid #e7e7e7;
}

.cba-forSpinningDiv{
  width: 140px;
  height:100px;
  border: 1px solid Black;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left:-70px;
  margin-top:-50px;   
}


.cba-panel-scroll {
  height: 320px;
  overflow-y: scroll;
}

.cba-panel-scroll-flex {
  max-height: 500px;
  overflow-y: scroll;
}

.cba-chat-panel{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px; 
  margin-bottom: 0px !important;
  display: none;
}

.cba-transcript-panel{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px; 
  margin-bottom: 0px !important;
  display: none;
}

.cba-translation-panel{
  position: fixed;
  bottom: 0;
  left: 300px;
  width: 300px; 
  margin-bottom: 0px !important;
  display: none;
}

.non-display{
  display: none;
}

.cba-panel-fixed {
  height: 320px;
}

.cba-panel-fixed-short {
  height: 220px;
}

.cba-knowledge-panel {
  height: 920px;
  /* height: 530px; */
  overflow-y: scroll;
}

.cba-knowledge-div {
  cursor: pointer;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 25px;
  border: 2px solid #4b4b4b;
  padding: 20px;
  margin-bottom: 20px;
  display: none;
  overflow: hidden;
}

.cba-passage-div {
  cursor: pointer;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 25px;
  border: 2px solid #4b4b4b;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.wordcloud-div  {
  box-shadow: 5px 5px 5px #888888;
  border-radius: 25px;
  border: 2px solid #3468db;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  overflow: hidden;
}

.cba-person-div{
  box-shadow: 5px 5px 5px #888888;
  text-align: center;
  /* padding: 5px; */
  cursor: pointer;
  height: auto;

}

.cba-person-div:hover {
  box-shadow: 4px 5px 27px 4px rgba(65, 115, 253, 0.85);
}


.cba-mainicon-div{
  /* box-shadow: 5px 5px 5px #888888; */
  text-align: center;
  padding: 0px;
  cursor: pointer;
 
}

.cba-mainicon-div:hover {
  box-shadow: 4px 5px 27px 4px rgba(253, 65, 65, 0.85);
}

.cba-mainicon-text {
  font-family: 'Oswald', sans-serif, italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  color: #333333;
}

.cba-col-centered {
  float: none;
  margin: 0 auto;
}

.cba-maintitle-text {
  font-family: 'Oswald', sans-serif, italic;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.2;
  color: #ffffff;
  /*color: #333333;*/
}




.cba-img-small {
  width: 40%;
  hight: 100%;
  float: left;
  margin: 0px 10px 0px 0px;
}

.cba-img-large {
  width: 100%;
}

.cba-knowledge-text {
  font-family: 'Oswald', sans-serif, italic;
  font-weight: 300;
  font-size: 29px;
  line-height: 1.2;
  color: #333333;
}

.cba-small-description{
  font-family: 'Oswald', sans-serif, italic;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2;
  color: #333333;
}

.cba-knowledge-populate-font{
  font-family: 'Oswald', sans-serif, italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  color: #333333;

}

#cba-page-wrapper {
  position: inherit;
  margin: 0 0 0 0;
  padding: 0 30px;
  border-left: 1px solid #e7e7e7;
}


#real-time-transcription {
  position: absolute;
  width: 80%;
  height: 70px;
  overflow-y: hidden;
  bottom: 10%;
  left: 70px;
  font-family: 'Roboto', cursive;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
